.container {
  margin: 20px auto;
}

.recharts-wrapper {
  margin: 0 auto;
  margin-top: 30px;
}

.card-title {
  padding: 10px;
  margin-bottom: 0;
}

.card-body{
  padding: 1rem;
}

body{
  background: #8080801f;
  max-height: 100vh;
  overflow: hidden;
}