body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-pane.leaflet-popup-pane {
  display: none;
}

.preloader-overlay{
  z-index: 9999;
  background: grey;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.preloader {
  position: fixed; /* or absolute */
  top: 50%;
  left: 45%;
}

.preloader span{
  margin: 0 auto;
}

path.recharts-curve.recharts-pie-label-line {
  display: none;
}
